**/*.ipynb_checkpoints/
*.png
*.pdf
*.pyc
/oggm/
/data_set/
/paper/ 
/presentation/
/RGI60-07.01458/
*.cpg
*.dbf
*.dbf.cpg
*.dbf.dbf
*.prj
*.shp
*.shp.shp
*.shp.shx
*.shx
*.csv
/DataFrame_produced/
/DataFrame_produced_clean/
/Figure_produced/
*.odg
/paper1/
